<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal Estramipymes</title>
</head>
<body>
  <app-nav-user></app-nav-user>

  <div class="landing-page">
    <header>
      <div class="container mx-auto flex justify-between items-center from-black to-white">
        <a href="#" class="logo text-white font-bold">
          <b>Portal EstraMiPyme</b> <br>Transforma tu Pyme con EstraMiPyme: Innovación y Estrategia para el futuro
        </a>
        <ul class="flex space-x-4">
          <li class="login-register-buttons">
            <div>
                <button (click)="navigateToLogin()" class="login-button font-bold">Cerrar Sesión</button>
            </div>
          </li>
        </ul>
      </div>
    </header>

    <div class class="content">
      <div class="container2 scroll-trigger">
        <div class="main-text">
          <h1>¡Despierta el Potencial de Tu PYME!</h1>
          
          <p><strong>Inicia tu viaje: Explora, Conoce, Actualiza, Integra</strong></p>
        </div>
        <div class="image-container">
          <img src="assets/imagen2.png" alt="Imagen de Estramipymes">
        </div>
      </div>
      <div id="bibliography" class="container2 scroll-trigger">
        <div class="main-text2">
            <h1>Biografía del autor/a</h1>
            <h2>Luz María Rivas-Montoya, Universidad EAFIT</h2>
            <div class="main-text2">
                <p class="justified-text">
                  Doctora en Administración y magíster en Ciencias de la Administración de la Universidad EAFIT,
                  magíster en Administración del Instituto Tecnológico de Monterrey y 
                  la Universidad Autónoma de Bucaramanga (UNAB) y economista de la Universidad Autónoma de Manizales.
                  Actualmente, es profesora de la Universidad EAFIT, donde coordina el área de Estrategia 
                  y dicta las asignaturas de Riesgo Estratégico, Estrategia I, Estrategia y Modelos de Negocios, 
                  Teoría de la Estrategia y Política de Empresas. Hace parte del grupo de investigación Administración y
                  Organizaciones (A1 según Minciencias). Sus principales temas de interés son el riesgo estratégico, 
                  los modelos de negocios, la estrategia como práctica y la estrategia corporativa.
                </p>
              </div>
        </div>
      </div>
      <div id="download" class="container2 scroll-trigger">
        <div class ="chart"><app-graficdescargas></app-graficdescargas></div>
      </div>

      <!-- Agrega el enlace o botón para redirigir -->
      <button (click)="navigateToExternalLink()">Ir al enlace</button>

      <div class = "page-footer-section">
        <div class="page-footer-content">
          <div id="contact" class="container2 scroll-trigger page-footer-item">
            <h3>Contáctanos</h3>
            <p><strong><a href="https://www.eafit.edu.co/campus-eafit" target="_blank" rel="noopener noreferrer">EAFIT Medellín</a></strong><br>
              Carrera 49 N° 7 Sur-50<br>
              Línea nacional: 01 8000 515 900<br>
              Línea de atención (57) 604 2619500<br>
              Whatsapp: (57) 310 8992908<br>
              Atención al Visitante</p>
            <p><strong><a href="https://www.eafit.edu.co/pereira/Paginas/home.aspx" target="_blank" rel="noopener noreferrer">EAFIT Pereira</a></strong><br>
              Carrera 19 #12-70 Megacentro Pinares<br>
              (57) 606 3214115, 606 3214119</p>
            <p><strong><a href="https://www.eafit.edu.co/bogota/Paginas/home.aspx" target="_blank" rel="noopener noreferrer">EAFIT Bogotá</a></strong><br>
              Carrera 15 #88-64 oficina 401<br>
              (57) 601 6114618</p>
            <p><strong><a href="https://www.eafit.edu.co/llanogrande/Paginas/inicio.aspx" target="_blank" rel="noopener noreferrer">EAFIT Llanogrande</a></strong><br>
              Km 3.5 vía Don Diego –Rionegro</p>
          </div>
          <div class="container2 scroll-trigger page-footer-item">
            <h3>Conéctate con EAFIT</h3>
            <p><a href="https://www.eafit.edu.co/Paginas/inscripciones.aspx" target="_blank" rel="noopener noreferrer">Inscríbete en un programa</a><br>
              <a href="https://www.eafit.edu.co/pregrados" target="_blank" rel="noopener noreferrer">Pregrados</a><br>
              <a href="https://www.eafit.edu.co/posgrados" target="_blank" rel="noopener noreferrer">Posgrados</a><br>
              <a href="https://virtual.eafit.edu.co/?utm_source=University+Site&utm_medium=Btn_fix" target="_blank" rel="noopener noreferrer">Programas virtuales</a><br>
              <a href="https://www.eafit.edu.co/idiomas/Paginas/inicio.aspx" target="_blank" rel="noopener noreferrer">Idiomas</a><br>
              <a href="https://www.eafit.edu.co/educacioncontinua" target="_blank" rel="noopener noreferrer">Cursos, diplomados y seminarios</a><br>        
              <a href="https://www.eafit.edu.co/cec/altadireccion/Paginas/inicio.aspx" target="_blank" rel="noopener noreferrer">Alta dirección</a><br>   
              <a href="https://www.eafit.edu.co/saberesdevida" target="_blank" rel="noopener noreferrer">Para mayores de 50</a><br>    
              <a href="https://www.eafit.edu.co/ninos/Paginas/inicio.aspx" target="_blank" rel="noopener noreferrer">Universidad de los niños</a><br>   
              <a href="https://www.eafit.edu.co/investigacion/Paginas/inicio.aspx" target="_blank" rel="noopener noreferrer">Ciencia, tecnología e innovación</a><br>   
              <a href="https://www.eafit.edu.co/centros/Paginas/centros-estudio.aspx" target="_blank" rel="noopener noreferrer">Centros de estudio</a><br>
              <a href="https://www.eafit.edu.co/filantropias" target="_blank" rel="noopener noreferrer">Filantropía</a><br>
              <a href="https://www.eafit.edu.co/organizaciones/Paginas/empresas.aspx" target="_blank" rel="noopener noreferrer">Empresas</a><br>
              <a href="https://www.eafit.edu.co/organizaciones/Paginas/sistemas-publicos.aspx" target="_blank" rel="noopener noreferrer">Sistemas públicos</a><br>
              <a href="https://www.eafit.edu.co/organizaciones/Paginas/ecosistema-emprendimiento.aspx" target="_blank" rel="noopener noreferrer">Ecosistemas de emprendimiento</a><br>
              <a href="https://www.magneto365.com/co/empresas/EAFIT" target="_blank" rel="noopener noreferrer">Trabaja con nosotros</a><br>
            </p>
          </div>
          <div class="container2 scroll-trigger page-footer-item">
            <h3>Sobre nosotros</h3>
            <p>
              <a href="https://www.eafit.edu.co/biblioteca/Paginas/Inicio.aspx" target="_blank" rel="noopener noreferrer">Biblioteca</a><br>
              <a href="https://www.eafit.edu.co/tarifas" target="_blank" rel="noopener noreferrer">Tarifas</a><br>
              <a href="https://www.eafit.edu.co/constitucion" target="_blank" rel="noopener noreferrer">Personería jurídica</a><br>
              <a href="https://www.eafit.edu.co/reglamentos" target="_blank" rel="noopener noreferrer">Reglamentos y estatutos</a><br>
              <a href="https://www.eafit.edu.co/lineadetransparencia" target="_blank" rel="noopener noreferrer">Línea de transparencia</a><br>
              <a href="https://www.eafit.edu.co/faq" target="_blank" rel="noopener noreferrer">Preguntas frecuentes</a><br>
              <a href="https://www.eafit.edu.co/Paginas/PQRSF.aspx" target="_blank" rel="noopener noreferrer">Registra una PQR</a><br>
              <a href="https://www.eafit.edu.co/bienestar-universitario/genero-diversidad-e-inclusion/Paginas/inicio.aspx" target="_blank" rel="noopener noreferrer">Género, Diversidad e Inclusión</a><br>
              <a href="https://www.eafit.edu.co/Paginas/notificacionesjudiciales-y-certificados.aspx" target="_blank" rel="noopener noreferrer">Notificaciones judiciales y certificados</a><br>
              <a href="https://www.eafit.edu.co/misdatos" target="_blank" rel="noopener noreferrer">Actualiza tus datos</a><br>
              <a href="https://www.eafit.edu.co/institucional/reglamentos/tratamiento-proteccion-datos-personales/Paginas/politica-tratamiento-datos-personales.aspx" target="_blank" rel="noopener noreferrer">Política de protección de datos</a><br>
              <a href="https://www.eafit.edu.co/terminos-uso" target="_blank" rel="noopener noreferrer">Términos de uso</a><br>
              <a href="https://www.eafit.edu.co/institucional/Paginas/informacion-institucional-universidad-eafit.aspx" target="_blank" rel="noopener noreferrer">Más Información Institucional</a>
            </p>
          </div>
          <div class="container2 scroll-trigger page-footer-item">
            <h3>Nuestras redes sociales</h3>
            <p>
                <a href="https://www.facebook.com/universidadeafit" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
                <a href="https://x.com/eafit" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                <a href="https://co.linkedin.com/school/universidadeafit/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.youtube.com/user/ueafit" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/eafit/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                <a href="https://open.spotify.com/show/7CcuvStr0qJRBv0hU8cvwX?si=bc16896ca1934f86&nd=1&dlsi=47e79dfbd69344f6" target="_blank" rel="noopener noreferrer"><i class="fab fa-spotify"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <footer>
      <img src="assets/eafit.png" alt="Logo de Estramipymes" class="logo">
      <p>&copy; 2024 Universidad EAFIT. Todos los derechos reservados.</p>
    </footer>
</body>
</html>

