/* Estilo general para el contenedor del gráfico */
div {
    display: block;
    max-width: 40%; /* Asegura que el contenedor no exceda el ancho de la pantalla */
    margin: 0 auto; /* Centra el gráfico horizontalmente */
  }
  
  /* Estilo para el lienzo del gráfico */
  canvas {
    width: 100% !important; /* Asegura que el canvas se ajuste al ancho del contenedor */
    height: auto !important; /* Mantiene la proporción del gráfico */
  }
  
  /* Media queries para ajustar el tamaño del gráfico en diferentes dispositivos */
  
  /* Para pantallas de menos de 600px (móviles) */
  @media (max-width: 600px) {
    canvas {
      height: 300px; /* Altura específica para móviles */
    }
  }
  
  /* Para pantallas entre 601px y 900px (tablets) */
  @media (min-width: 601px) and (max-width: 900px) {
    canvas {
      height: 400px; /* Altura específica para tablets */
    }
  }
  
  /* Para pantallas mayores de 901px (escritorios) */
  @media (min-width: 901px) {
    canvas {
      height: 500px; /* Altura específica para escritorios */
    }
  }
  