<div class="h-screen w-full flex items-center justify-center bg-cover bg-center" style="background-image: url('assets/changepassw.png');">
    <section class="p-8 bg-black bg-opacity-75 shadow-lg rounded-lg max-w-md w-full">
      <h2 class="text-center mb-6 font-extrabold text-3xl text-blue-500">Cambiar Contraseña</h2>
  
      <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm" class="flex flex-col space-y-4">
        
        <div class="relative mb-4">
          <label for="newPassword" class="block text-gray-300 mb-2">Nueva Contraseña</label>
          <input id="newPassword" type="password" formControlName="newPassword" required class="w-full p-3 border border-gray-300 rounded-lg bg-black bg-opacity-50 text-white placeholder-gray-400 focus:outline-none focus:border-blue-500" />
          <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="text-red-500 text-sm mt-1">
            <div *ngIf="newPassword.errors?.['required']">La nueva contraseña es requerida.</div>
          </div>
        </div>
        
        <div class="relative mb-4">
          <label for="confirmPassword" class="block text-gray-300 mb-2">Confirmar Contraseña</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" required class="w-full p-3 border border-gray-300 rounded-lg bg-black bg-opacity-50 text-white placeholder-gray-400 focus:outline-none focus:border-blue-500" />
          <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="text-red-500 text-sm mt-1">
            <div *ngIf="confirmPassword.errors?.['required']">Confirmar la contraseña es requerido.</div>
            <div *ngIf="confirmPassword.errors?.['mismatch']">Las contraseñas no coinciden.</div>
          </div>
        </div>
        
        <button type="submit" [disabled]="changePasswordForm.invalid" class="bg-blue-600 text-white font-bold py-2 px-5 rounded-full text-lg hover:bg-blue-500 transition duration-300 w-full">Cambiar Contraseña</button>
      </form>
    </section>
  </div>
  