
    <nav class="main-menu">
        <ul>
          <li>
            <a href="#welcome" class="nav-link font-bold">
              <i class="fa fa-home fa-2x nav-icon"></i>
              <span class="nav-text">Bienvenido a Estramipyme</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="scrollToSection($event, 'bibliography')" class="nav-link font-bold">
              <i class="fa fa-comments fa-2x nav-icon "></i>
              <span class="nav-text">Bibliografía del autor</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="scrollToSection($event, 'download')" class="nav-link font-bold">
              <i class="fa fa-download fa-2x nav-icon"></i>
              <span class="nav-text">Descargas del libro</span>
            </a>
          </li>
          <li>
            <a class="nav-link font-bold"(click)="navigateToLogin()">
              <i class="fa fa-book fa-2x nav-icon "></i>
              <span class="nav-text">Acceder al libro completo</span>
            </a>
          </li>
          <li>
            <a class="nav-link font-bold" (click)="navigateToLogin()">
              <i class="fa-solid fa-users fa-2x nav-icon"></i>
              <span class="nav-text">Foro de la comunidad</span>
            </a>
          </li>
          <li>
            <a class="nav-link font-bold" (click)="navigateToLogin()">
              <i class="fa fa-calendar-days fa-2x nav-icon"></i>
              <span class="nav-text">Eventos y talleres</span>
            </a>
          </li>
          <li>
            <a class="nav-link font-bold" (click)="navigateToLogin()">
              <i class="fa-solid fa-headset fa-2x nav-icon"></i>
              <span class="nav-text">FAQ y Asesorías</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="scrollToSection($event, 'contact')" class="nav-link font-bold">
              <i class="fa-solid fa-handshake fa-2x nav-icon"></i>
              <span class="nav-text">Info y Contacto EAFIT</span>
            </a>
          </li>
          <li>
        </ul>
      </nav>
 

