<div class="container">
  <form (ngSubmit)="onSubmit()" #circuloForm="ngForm">
    <label for="proposito">Propósito:</label>
    <input type="text" id="proposito" name="proposito" [(ngModel)]="circulo.proposito" required>

    <label for="propuesta">Propuesta:</label>
    <input type="text" id="propuesta" name="propuesta" [(ngModel)]="circulo.propuesta" required>

    <label for="productos">Productos:</label>
    <input type="text" id="productos" name="productos" [(ngModel)]="circulo.productos" required>

    <button type="submit">Actualizar Gráfico</button>
  </form>

  <div *ngIf="submitted">
    <canvas 
      baseChart
      [data]="chartData"
      [type]="chartType"
      [options]="chartOptions">
    </canvas>
  </div>
</div>
