/* Start Global Rules */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', roboto-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFFFFF; 
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Landing Page */
.landing-page header {
  background-color: #000;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0; /* Ajusta según la posición del logo */
  right: 0;
  z-index: 1000;
  height: 80px; /* Ajusta según el tamaño del logo */
}

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  position: absolute;
  left: 10px; /* Ajusta la distancia desde el borde izquierdo */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001; /* Asegura que el logo esté por encima del contenido */
}

.logo-img {
  height: 82px; /* Ajusta el tamaño del logo según sea necesario */
}

.landing-page header .logo {
  font-size: 1.2em;
  text-decoration: none;
  margin-left: 195px;
}

.landing-page header .links {
  display: flex;
  align-items: center;
}

.landing-page header .login-register-buttons {
  display: flex;
  gap: 10px;
}

.landing-page header .login-button,
.landing-page header .register-button {
  background-color: #3B82F6;
  color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.landing-page header .login-button:hover,
.landing-page header .register-button:hover {
  background-color: #f0f0f0;
  color: #3B82F6;
}

.landing-page .content {
  padding: 100px 20px 20px; /* Asegura que el contenido no quede detrás del header */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.container2 {
  display: flex;
  align-items: center;
  margin-left: 80px; /* Ajuste para no quedar detrás del menú lateral */
  padding: 20px 20px;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: #FFFFFF;
  border-radius: 10px;
  margin-top: 20px;
}

.container2.visible {
  opacity: 1;
}

.info {
  margin-right: 20px;
}

.info h1 {
  color: #0033a0;
  font-size: 44px;
}

.info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.image img {
  max-width: 105%;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 4px 0;
  width: 100%;
  height: 65px;
  border-top: 2px solid #3B82F6;
}

footer .logo {
  display: inline-block;
  max-width: 100px;
  vertical-align: middle;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px;
  margin-left: 200px;
}

.main-text {
  text-align: center;
  margin-top: 20px;
}

.main-text h1 {
  margin-top: -50px;
  color: #0082ca;
  font-size: 3rem;
  font-weight: bold;
}

.main-text p {
  color: #000;
  font-size: 2.2rem;
  margin-top: 10px;
}
.main-text2 {
  text-align: center;
  margin-top: 20px;
}

.main-text2 h1 {
  margin-top: -50px;
  color: #0082ca;
  font-size: 3rem;
  font-weight: bold;
}

.main-text2 p {
  color: #000;
  font-size: 2.2rem;
  margin-top: 10px;
  text-align: justify;
}
h2 {
  font-weight: bold;
  font-size: 2.2rem;
 
}

.image-container img {
  margin-top: -5px;
  max-width: 100%;
  height: auto;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

/* End Landing Page */

/* Scroll Animation */
/* Scroll Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-trigger {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.scroll-trigger.visible {
  opacity: 1;
}
