<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal Estramipymes</title>

</head>
<body>
  <div class="landing-page">
    <header>
      <div class="container">
        <a href="#" class="logo"><b>Portal EstraMiPyme</b> <br>Transforma tu Pyme con Estramipyme: Innovación y Estrategia para el futuro  </a>
        <ul class="links">
          <li class="login-register-buttons">
            <button (click)="navigateToLogin()" class="login-button">Inicio de Sesión</button>
            <button (click)="navigateToRegister()" class="register-button">Regístrate</button>
          </li>
        </ul>
      </div>
    </header>
    

    <div class="content">
      <nav class="main-menu">
        <ul>
          <li>
            <a href="#" class="nav-link">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text">
                Bienvenido a Estramipyme
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link">
              <i class="fa fa-book fa-2x"></i>
              <span class="nav-text">
                Acceder al libro completo
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link">
              <i class="fa fa-comments fa-2x"></i>
              <span class="nav-text">
                Bibliografía del autor
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link">
              <i class="fa fa-download fa-2x"></i>
              <span class="nav-text">
                Descargas del libro
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link">
              <i class="fa fa-film fa-2x"></i>
              <span class="nav-text">
                Foro de la comunidad
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link">
              <i class="fa fa-calendar-days fa-2x"></i>
              <span class="nav-text">
                Eventos y talleres
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link">
              <i class="fa fa-cogs fa-2x"></i>
              <span class="nav-text">
                FAQ y Asesorías
              </span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="container2">
        <div class="info">
        </div>
        <div class="image">
          <img src="/assets/imagen.png" alt="Imagen de Estramipymes">
        </div>
      </div>
    </div>

    <footer>
      <img src="/assets/logo.jpeg" alt="Logo de Estramipymes" class="logo">
      <p>&copy; 2024 Universidad EAFIT. Todos los derechos reservados.</p>
    </footer>
  </div>

  <script src="script.js"></script> 
</body>
</html>
