
<div class="landing-page">
  <header>
      <div class="container">
        <a href="#" class="logo">Portal <b>Estramipymes</b></a>
        <ul class="links">
          <li class="login-register-buttons">
            <button (click)="navigateToLogin()" class="login-button">Inicio de Sesión</button>
            <button (click)="navigateToRegister()" class="register-button">Regístrate</button>
          </li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container">
        <div class="info">
          <h1>Estramipymes</h1>
          <p> </p>
         </div>
        <div class="image">
          <img src="/assets/imagen.png">
        </div>
      </div>
    </div>
  </div>
