@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre loscomponentes */
    padding: 20px; /* Espacio interno del contenedor */
}
  
 /* Estilos generales para los componentes dentro del contenedor */
.container > * {
  flex: 1 1 300px; /* Tamaño base y ajuste según el tamaño deseado */
  max-width: 100%; /* Asegura que los componentes no se desborden */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  border-radius: 8px; /* Bordes redondeados para un diseño más suave */
  overflow: hidden; /* Asegura que el contenido no se desborde */
}


.change-password-container {
    width: 100%;
    max-width: 500px;
    margin: -7px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-size: 0.875em;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #3B82F6;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2A6BBF;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }