/* Header Styles */
header {
  background-color: #000;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 80px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header .logo {
  font-size: 1.2em;
  text-decoration: none;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20%; /* Ajusta el margen derecho para crear espacio entre el texto y los íconos */
}

.search-and-account {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px; /* Ajusta el margen derecho del contenedor de búsqueda y cuenta */
}

.account-menu {
  display: flex;
  align-items: center;
  color: white;
}

.account-menu .nav-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.account-menu .nav-icon {
  margin-right: 10px;
}

.account-menu .account-menu-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #3B82F6;
  border: 1px solid #ddd;
  width: 200px;
  z-index: 1001;
}

.account-menu .account-menu-dropdown li {
  list-style: none;
}

.account-menu .account-menu-dropdown li a {
  display: block;
  padding: 10px 14px;
  color: #fff;
  text-decoration: none;
}

.account-menu .account-menu-dropdown li a:hover {
  background-color: #62A9BD;
}

.account-menu:hover .account-menu-dropdown {
  display: block;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden; /* Asegura que el input expandido no desborde el contenedor */
}

.search-group {
  display: flex;
  align-items: center;
  transition: width 0.3s ease; /* Asegura una transición suave */
}

.search-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

.search-box {
  width: 0;
  opacity: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  color: black;
  box-sizing: border-box;
  transition: width 0.3s ease, opacity 0.3s ease;
  transform-origin: right; /* Asegura que el expandido sea hacia la izquierda */
}

.search-group.expanded .search-box {
  width: 300px; /* Ajusta este ancho según sea necesario */
  opacity: 1;
}

.search-group.expanded .search-icon {
  position: absolute;
  right: 10px; /* Ajusta según sea necesario */
}
