<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Administrador</title>
 
</head>
<body>
    <app-nav-menu-administrador></app-nav-menu-administrador>
    
    <header>
        <a href="#" class="logo">
            <b>Portal Administrador</b><br>Transforma tu Pyme con EstraMiPyme: Innovación y Estrategia para el futuro
        </a>
        
        <div class="search-container">
            <div class="search-group">
              <i class="fa-sharp fa-solid fa-magnifying-glass relative left-7 top-1 text-gray-400"></i>
              <input type="text" 
                     placeholder="Buscar.."
                     class="search-box">
              <button type="submit" class="search-button">Buscar</button>
            </div>
          
            <div class="sing-idiomas-buttons">
              <button type="button" class="idiomas font-bold">Inglés</button>
              <button type="button" class="idiomas font-bold">Español</button>
              <button (click)="navigateToLogin()" class="login-button font-bold">Cerrar Sesión</button>
            </div>
          </div>
        
    </header>

    <div class="landing-page">
        <div class="charts-container">
            <div class="chart"><app-graficaradar></app-graficaradar></div>
            <div class="chart"><app-grafic-bowman></app-grafic-bowman></div>
            <div class ="chart"><app-graficoreloj></app-graficoreloj></div>
            <div class="chart"><app-graficacirculodorado></app-graficacirculodorado>                                     </div>

          </div>
        </div>
    </body>
    </html>
  


<!----
<div class="user-section">
    <app-user-list (userSelected)="selectedUser = $event"></app-user-list>
    <app-user-detail [user]="selectedUser" (userUpdated)="updateUser($event)"></app-user-detail>
  </div>
-->
