.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre loscomponentes */
    padding: 20px; /* Espacio interno del contenedor 
  }
  
 /* Estilos generales para los componentes dentro del contenedor */
.container > * {
  flex: 1 1 300px; /* Tamaño base y ajuste según el tamaño deseado */
  max-width: 100%; /* Asegura que los componentes no se desborden */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  border-radius: 8px; /* Bordes redondeados para un diseño más suave */
  overflow: hidden; /* Asegura que el contenido no se desborde */
}

/* Estilos para la sección de usuarios */
.user-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

/* Estilos para la lista de usuarios */
app-user-list {
  flex: 1;
  margin-right: 20px;
  background-color: #f9f9f9; /* Fondo claro para un aspecto limpio */
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd; /* Borde sutil para separación */
}

/* Estilos para los detalles del usuario */
app-user-detail {
  flex: 2;
  background-color: #ffffff; /* Fondo blanco para un aspecto limpio */
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd; /* Borde sutil para separación */
}

/* Estilos para el contenedor de cada tarjeta de usuario */
.user-list-container {
  background-color: #f4f4f4; /* Fondo gris claro para contraste */
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
}

/* Estilos para la lista de usuarios */
.user-list {
  list-style: none; /* Elimina los puntos de lista predeterminados */
  padding: 0;
  margin: 0;
}

/* Estilos para cada elemento de la lista de usuarios */
.user-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Borde inferior sutil */
  cursor: pointer; /* Cursor tipo mano para interacción */
  transition: background-color 0.2s ease-in-out; /* Transición suave al cambiar el fondo */
}

/* Estilo para los elementos seleccionados en la lista */
.user-list li.selected {
  background-color: #e0e0e0; /* Fondo de resaltado para elementos seleccionados */
}

/* Estilos para las imágenes de los usuarios */
.user-list img {
  border-radius: 50%; /* Imagen circular */
  width: 50px;
  height: 50px;
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
  margin-right: 10px;
}
}
 /* Añadir estilos para centrar y dar formato */
 body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF; 
}

header {
  background-color: #000;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 80px;
}

.logo {
  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
}

.chart{
 margin-left: 400px;
}

  