<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Administrador</title>
</head>
<body>
    
  <app-nav-menu-administrador 
  (navigateToLogin)="navigateToLogin()">
</app-nav-menu-administrador>

<header>
  <div class="container">
    <a href="#" class="logo text-white font-bold">
      <b>Portal Administrador</b> <br>Transforma tu Pyme con EstraMiPyme: Innovación y Estrategia para el futuro
    </a>
    
    <div class="search-and-account">
      <div class="search-container">
        <div class="search-group" id="searchGroup">
          <img src="assets/glass-search.svg" alt="Buscar" class="search-icon" (click)="toggleSearch()" />
          <input type="text" placeholder="Buscar..." class="search-box" id="searchBox">
        </div>
      </div>

      <div class="account-menu">
        <a href="#" class="nav-link font-bold" (click)="toggleAccountMenu()">
          <i class="fa fa-user fa-2x nav-icon"></i>
          <span class="nav-text" id="accountName">Cuenta</span>
        </a>
        <ul class="account-menu-dropdown">
          <li><a (click)="showChangePassword()">Cambio de Contraseña</a></li>
          <li><a (click)="logout()">Cerrar Sesión</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>


    <div class="landing-page" *ngIf="!showPasswordChange">
      <div class="charts-container">
        <div id="app-graficaradar" class="chart"><app-graficaradar></app-graficaradar></div>
        <div class="chart"><app-grafic-bowman></app-grafic-bowman></div>
        <div class="chart"><app-graficoreloj></app-graficoreloj></div>
        <div class="chart"><app-graficacirculodorado></app-graficacirculodorado></div>
        <div id="user-management" class="user-management"><app-user-management></app-user-management></div>
       
      </div>
    </div>

    <!-- Contenedor para el componente de cambio de contraseña -->
    <div *ngIf="showPasswordChange" class="password-change-container">
      <app-change-password></app-change-password>
      <button (click)="hideChangePassword()">Cerrar</button>
    </div>


</body>
</html>

<!----
<div class="user-section">
    <app-user-list (userSelected)="selectedUser = $event"></app-user-list>
    <app-user-detail [user]="selectedUser" (userUpdated)="updateUser($event)"></app-user-detail>
  </div>
-->
