/* Contenedor principal para alinear la tabla y el gráfico horizontalmente */
.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; /* Asegura que la tabla y el gráfico estén en los extremos opuestos */
  padding: 20px; /* Espaciado alrededor del contenedor */
  margin-top: 500px; /* Espacio adicional en la parte superior */
}

/* Estilo general para el contenedor del gráfico */
.chart-container {
  width: 60%;
  height: 400px; /* Altura ajustada para una mejor visualización */
  max-width: 900px; /* Tamaño máximo */
  background-color: #f9f9f9; /* Fondo del contenedor para un contraste más suave */
  border: 1px solid #ddd; /* Borde ligero alrededor del contenedor */
  border-radius: 8px; /* Bordes redondeados para un aspecto moderno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para el contenedor del gráfico */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Margen superior para separar del encabezado */
}

/* Estilo para el lienzo del gráfico */
canvas {
  width: 100% !important; /* Ajusta el canvas al ancho del contenedor */
  height: 100% !important; /* Ajusta la altura del canvas al contenedor */
}

/* Estilo para la tabla de datos */
.table-container {
  width: 35%;
  max-width: 600px; /* Tamaño máximo para la tabla */
  border-radius: 8px;
  overflow: hidden; /* Para redondear las esquinas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más profesional */
  margin-top: 20px; /* Margen superior para separar del encabezado */
}

/* Estilos de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd; /* Borde más ligero */
}

th, td {
  padding: 10px; /* Padding ajustado para mejor legibilidad */
  text-align: center; /* Centrado de texto */
  font-size: 14px; /* Fuente más grande para mejor legibilidad */
}

th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

td {
  background-color: #fff;
  color: #555;
}

tr:nth-child(even) td {
  background-color: #f9f9f9; /* Color alternante para filas */
}

tr:hover td {
  background-color: #e0e0e0; /* Color de fondo al pasar el mouse */
}

/* Estilo para los inputs */
input[type="number"] {
  width: 100%; /* Ajusta el ancho al tamaño de la celda */
  padding: 4px; /* Padding ajustado */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px; /* Fuente más grande para mejor visibilidad */
}
