<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="main-menu-administrator">
        <ul>
          <li>
            <a href="#user" class="nav-link font-bold">
              <i class="fa fa-user fa-2x nav-icon"></i>
              <span class="nav-text">Matriz Usuarios</span>
            </a>
          </li>
          <li>
            <a href="#strategic" class="nav-link font-bold">
              <i class="fa fa-comments fa-2x nav-icon "></i>
              <span class="nav-text">Matriz Reto Estrategico</span>
            </a>
          </li>
          <li>
            <a href="#play" class="nav-link font-bold">
              <i class="fa fa-download fa-2x nav-icon"></i>
              <span class="nav-text">Matriz link del juego</span>
            </a>
          </li>
          <li>
            <a class="nav-link font-bold"(click)="navigateToLogin()">
              <i class="fa fa-book fa-2x nav-icon "></i>
              <span class="nav-text">Matriz Co-Creacion</span>
            </a>
          </li>
          <li>
            <a class="nav-link font-bold" (click)="navigateToLogin()">
              <i class="fa-solid fa-users fa-2x nav-icon"></i>
              <span class="nav-text">Matriz Libro</span>
            </a>
          </li>
          <li>
            <a class="nav-link font-bold" (click)="navigateToLogin()">
              <i class="fa fa-calendar-days fa-2x nav-icon"></i>
              <span class="nav-text">Eventos y talleres</span>
            </a>
          </li>
          <li>
            <a class="nav-link font-bold" (click)="navigateToLogin()">
              <i class="fa-solid fa-headset fa-2x nav-icon"></i>
              <span class="nav-text">FAQ y Asesorías</span>
            </a>
          </li>
          <li>
            <a href="#connect" class="nav-link font-bold">
              <i class="fa-solid fa-handshake fa-2x nav-icon"></i>
              <span class="nav-text">Conéctate con EAFIT</span>
            </a>
          </li>
          <li>
            <a href="#about" class="nav-link font-bold">
              <i class="fa-solid fa-circle-info fa-2x nav-icon"></i>
              <span class="nav-text">Sobre Nosotros</span>
            </a>
          </li>
          <li>
            <a href="#contact" class="nav-link font-bold">
              <i class="fa-solid fa-comment-sms fa-2x nav-icon"></i>
              <span class="nav-text">Contáctanos</span>
            </a>
          </li>
          <li>
            <a href="#social" class="nav-link font-bold">
              <i class="fa fa-cogs fa-2x nav-icon"></i>
              <span class="nav-text">Nuestras Redes Sociales</span>
            </a>
          </li>
        </ul>
      </nav>
    
</body>
</html>



