@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.main-menu-administrator {
    background: #3B82F6;
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    width: 60px; /* Menú colapsado por defecto */
    overflow: hidden;
    z-index: 1001; /* Asegura que el main-menu esté por encima del header */
    transition: width 0.3s; /* Transición suave para el ancho */
}

.main-menu-administrator:hover {
    width: 250px; /* Ancho expandido cuando se hace hover */
}

.main-menu-administrator > ul {
    margin: 1px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main-menu-administrator li {
    position: relative;
    display: block;
    width: 100%;
}

.main-menu-administrator li a {
    display: flex;
    align-items: center;
    padding: 10px 14px;
    color: #fff;
    font-family: 'Arial';
    font-size: 13.5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.main-menu-administrator li a:hover {
    background-color: #62A9BD;
    color: #fff;
}

.main-menu-administrator .nav-icon {
    margin-right: 10px;
    transition: transform 0.3s; /* Transición suave para el ícono */
}

.main-menu-administrator .nav-text {
    opacity: 0; /* Inicialmente invisible */
    transform: translateX(-20px); /* Inicialmente desplazado a la izquierda */
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    height: 0; /* Oculta el contenido cuando no está visible */
    line-height: 0; /* Ajuste para asegurar que el contenido no se desborde */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
    margin-left: 0; /* Sin margen cuando el texto está oculto */
}

.main-menu-administrator:hover .nav-text {
    opacity: 1; /* Visible al hacer hover */
    transform: translateX(0); /* Desplazado a la posición original */
    height: auto; /* Permite que el contenido tome el espacio necesario */
    line-height: normal; /* Restablece el line-height */
    margin-left: 10px; /* Espacio adicional si es necesario */
}

.main-menu-administrator:hover ~ #header {
    margin-left: 250px; /* Ajusta el espacio del contenido principal cuando el menú está expandido */
}

.main-menu-administrator:hover ~ .landing-page {
    margin-left: 250px; /* Ajusta el espacio del contenido de la página cuando el menú está expandido */
}
