@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.main-user {
  background: #3B82F6;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 250px;
  overflow: hidden;
  transition: width 0.3s;
  z-index: 1001; /* Asegura que el main-menu esté por encima del header */
}

.main-user > ul {
  margin: 1px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main-user li {
  position: relative;
  display: block;
  width: 100%;
}

.main-user li a {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  color: #fff;
  font-family: 'Arial';
  font-size: 13.5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  white-space: normal; /* Permite que el texto se rompa en varias líneas */
  word-wrap: break-word; /* Asegura que el texto se ajuste dentro del contenedor */
}

.main-user li a:hover {
  background-color: #62A9BD;
  color: #fff;
}

.main-user .nav-icon {
  margin-right: 10px;
}

.main-user .nav-text {
  flex-grow: 1; /* Ocupa todo el espacio disponible */
  margin-left: 10px; /* Espacio adicional si es necesario */
  white-space: normal; /* Permite que el texto se ajuste en varias líneas */
  word-wrap: break-word; /* Asegura que el texto no se desborde */
}
