<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="main-menu-user">
      <ul>
      <li>
        <a href="#welcome" class="nav-link font-bold">
          <i class="fa fa-home fa-2x nav-icon"></i>
          <span class="nav-text">Bienvenidos</span>
        </a>
      </li>
      <li>
        <a href="#admintrador" class="nav-link font-bold">
          <i class="fa fa-home fa-2x nav-icon"></i>
          <span class="nav-text">Panel Principal</span>
        </a>
      </li>
        
          <li>
            <a href="#user" class="nav-link font-bold">
              <i class="fa fa-user fa-2x nav-icon"></i>
              <span class="nav-text">Matriz Usuarios</span>
            </a>
          </li>
          <li>
            <a href="#strategic" class="nav-link font-bold">
              <i class="fa fa-lightbulb fa-2x nav-icon "></i>
              <span class="nav-text">Matriz Reto Estrategico</span>
            </a>
          </li>
          <li>
            <a href="#play" class="nav-link font-bold">
              <i class="fa fa-download fa-2x nav-icon"></i>
              <span class="nav-text">Matriz link del juego</span>
            </a>
          </li>
          <li>
            <a class="#create"(click)="navigateToLogin()">
              <i class="fa fa-user fa-2x nav-icon "></i>
              <span class="nav-text">Matriz Co-Creacion</span>
            </a>
          </li>
          <li>
            <a class="#book" (click)="navigateToLogin()">
              <i class="fa-solid fa-book fa-2x nav-icon"></i>
              <span class="nav-text">Matriz Libro</span>
            </a>
          </li>
          <li>
            <a class="#comunity" (click)="navigateToLogin()">
              <i class="fa fa-headset fa-2x nav-icon"></i>
              <span class="nav-text">Matriz Foro de Comunidad</span>
            </a>
          </li>
          <li>
            <a class="nav-link font-bold" (click)="navigateToLogin()">
              <i class="fa-solid fa-calendar-days fa-2x nav-icon"></i>
              <span class="nav-text">Matriz Eventos y Talleres</span>
            </a>
          </li>
          <li>
            <a href="#connect" class="nav-link font-bold">
              <i class="fa-solid fa-handshake fa-2x nav-icon"></i>
              <span class="nav-text">Matriz FAQ y Asesorias</span>
            </a>
          </li>
          
        </ul>
      </nav>
    
</body>
</html>



