<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="main-user">
      <ul>
      <li>
        <a href="#welcome" class="nav-link font-bold">
          <i class="fa fa-home fa-2x nav-icon"></i>
          <span class="nav-text">Bienvenidos a EstraMiPymes</span>
        </a>
      </li>
      <li>
        <a href="#admintrador" class="nav-link font-bold">
          <i class="fa-solid fa-magnifying-glass fa-2x nav-icon"></i>
          <span class="nav-text">Iniciar Diagnostico</span>
        </a>
      </li>
        
          <li>
            <a href="#user" class="nav-link font-bold">
              <i class=" fa fa-puzzle-piece  fa-2x nav-icon"></i>
              <span class="nav-text">Reto estrategico</span>
            </a>
          </li>
          <li>
            <a href="#strategic" class="nav-link font-bold">
              <i class="fa fa-lightbulb fa-2x nav-icon "></i>
              <span class="nav-text">Link del juego</span>
            </a>
          </li>
          <li>
            <a href="#play" class="nav-link font-bold">
              <i class="fa fa-sync-alt fa-2x nav-icon"></i>
              <span class="nav-text">Co-creacion de Estretegia Competiva</span>
            </a>
          </li>
          <li>
            <a class="#create"(click)="navigateToLogin()">
              <i class="fa fa-download fa-2x nav-icon "></i>
              <span class="nav-text">acceder al libro completo</span>
            </a>
          </li>
          <li>
            <a class="#comunity" (click)="navigateToLogin()">
              <i class="fa fa-headset fa-2x nav-icon"></i>
              <span class="nav-text">Foro de Comunidad</span>
            </a>
          </li>
          <li>
            <a class="nav-link font-bold" (click)="navigateToLogin()">
              <i class="fa-solid fa-calendar-days fa-2x nav-icon"></i>
              <span class="nav-text">Eventos y Talleres</span>
            </a>
          </li>
          <li>
            <a href="#connect" class="nav-link font-bold">
              <i class="fa-solid fa-handshake fa-2x nav-icon"></i>
              <span class="nav-text">FAQ y Asesorias</span>
            </a>
          </li>
          
        </ul>
      </nav>
    
</body>
</html>



